html {
  height: 100%;
  width: 100%; 

}

h3 {
    color: crimson;
}
    
    



h1 {
    text-align: center;
    border: solid;
    border-color: black;
    background-color: purple;
    
}   
    



nav {
    display:flex;
    justify-content:space-around;
    margin-top: 40 ;
    margin-bottom: 40;
    margin-left: 40;
    margin-right: 40;  
}

h5 {
    text-align: center;
     background-color: rgb(232, 90, 119);
    font-size: 150px;
    font-weight: 50px;
    margin-top: 30px;
    margin-bottom: 30px;

    
}





  

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

h4 {
    text-align: center;
    font-size: 400;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: blue;
    border-style: solid;

}

  }
   
    

